cypress.json                             @team-nuwe
/.github/**                              @team-nuwe
/cypress/**                              @team-nuwe
/src/App.spec.js                         @team-nuwe
